
body {
	background-color: white;
}

#canvas {
	position: relative;
}

#canvas > div {
	position: absolute;
	background-position: left center;
	background-size:contain;
	background-repeat: no-repeat;
}

#canvas > div:hover {
	opacity: 0.8;
}