
/* FONT FACE */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'), url(fonts/normal.woff2) format("woff2"), url(fonts/normal.woff) format("woff"),
	 url(fonts/normal.ttf) format("truetype");
	}

@font-face {
  font-family: 'Arimo';
  font-style: bold;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(fonts/bold.woff2) format('woff2');
}


/* typografie */
html,
body {
	font-family: 'Arimo', 'Helvetica Neue', 'HelveticaNeue', 
	  Helvetica, Arial, 'Lucida Grande', sans-serif;
	-webkit-print-color-adjust:exact;
}

.preloader {
	position:absolute; 
	top:48%; 
	left:48%; 
	z-index:100;
/*    filter: invert(100%);
	-webkit-filter: invert(100%);*/

}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #2d2d2d;
}


b {
	font-weight: bold;
}

h1{
	font-size: 30px;
}
h2{
	font-size: 23px;
	line-height: 1.4;

}

h3{
	font-weight: bold;
}

#warning,
#intro {
	position: absolute;
	top:0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(81,137,178,0.9);
	z-index:3;
}

#warning {
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#intro .head,
#intro .content{
	color: white;
}

#intro p {
	font-size: 20px;
}


.center {
	text-align: center;
}

.button {
	float: right;
	display: inline-block;
	background-color: rgba(201,201,196,0.8);
	padding:7px;
	margin-top: 7px;
	cursor: pointer;
	color: black;
	text-decoration: none;
}
.button:hover {
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	background-color: rgba(201,201,196,0.6);
}


#map {
	width: 800px;
	height: 500px;
	width: 100vw;
	height: 100vh;
	background-color: rgb(41,42,42);
	/*background-color: #888;*/
	background-color: #c1c3c7;
	/*background-color: rgb(122,124,128);*/
	z-index: 0;
}


.sources {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.sources h1,
.sources h2 {
	margin-top: 15px;
}
.sources a {
	color: black;
}
/*
#intro .head,
#intro .content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	margin-top: 15px;
	margin-bottom: 15px;
}




#intro .content{
	max-width: 800px;
	text-align: justify;
	line-height: 1.4;
}

#intro .head {
	max-width: 800px;
}

#intro .content .button {
	margin-top: 45px;
	float: right;

}

@media (max-height: 680px) and (max-width: 620px){
	#intro .content .button {
		background-color: white;
		color: black;
		margin-top: 0px;
	}
}

#intro .head {
	margin-top: 30vh;
}

@media (max-height: 680px) and (max-width: 620px){
	#intro .head {
		margin-top: 0px;
	}
}

#intro .head,
#intro .content {
	text-shadow: 0px 0px 8px #000;
}

#intro .content .button{
	text-shadow: 0px 0px 0px #000;
}

*/



/* Do a fancy data transition for browsers that support it */
path {
  -webkit-transition:fill 500ms;
		  transition:fill 500ms;
}

#sidebar {
	position:absolute; 
	top:0px; 
	left:0; 
	background-color: white;
	width: 22vw;
	height: 100vh;
	font-size: 13px;
	line-height: 1.4;
	padding-left: 2.75vw;
	padding-right: 2.75vw;
	transition: all 300ms;

}

#sidebar .container{
	width: 20vw;
	transition: all 300ms;
}

@media (max-width: 1325px){
	#sidebar {
		width: 310px;
	}
	#sidebar .container{
		width: 270px;
	}
}
@media (max-width: 550px){
	#sidebar {
		width: 80%;
	}
	#sidebar .container {
		width: 90%;
	}   
}



#sidebar #header {
	margin-top: 15px;
	margin-bottom: 15px;
}

#sidebar #content {
	margin-bottom: 50px;
}

#sidebar #content h2{
	padding-top: 5px;
	margin-top: 20px;
	border-top: 1px solid rgb(214,214,214);

	font-size: 28px;

}

#sidebar #content h2 .score {
	float: right;
    letter-spacing: -2px;
	display: inline-block;
	padding-right: 4px;
}

@media (max-height: 677px) {
	#sidebar #header {
		margin-top: 10px;
	}

	#sidebar .container{
		overflow-y: scroll;
		height: 100vh;
	}
}



#sidebar #legenda {
	position: absolute;
	top: 5vh;
	right: 0px;
	width: 2.75vw;
}



#sidebar #legenda div {
	transition: all 1s ease;
	width: 2.75vw;
	margin-left: 0px;
	/*height: 11.875vh;*/
	height: 9.5vh;
	display: inline-block;
	float: left;
}
@media (max-width: 1100px) {
	#sidebar #legenda div {
		width: 40px;
	}
}

#sidebar #legenda .close {
	width: 2.75vw;
	height: 5vh;
	position: absolute;
	top: -5vh;
	left: 0px;
	background-color: black;
	background-image: url("../images/arrow-toleft-white.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media (max-width: 1100px) {
	#sidebar #legenda .close  {
		width: 40px;
	}
}

#sidebar #legenda .pointer {
	display: none;
	position: absolute;
	top: 45vh;
	left: 4.1vw;
	width: 150px;
	height: 5vh;
	background-color: rgb(211,210,206);
	transition: all 1s ease;
}

#sidebar #legenda .pointer:after, 
#sidebar #legenda .pointer:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#sidebar #legenda .pointer:after {
	/*// line*/
	border-right-color: #d3d2ce;
	border-width: 2.5vh;
	margin-top: -2.5vh;
}

#sidebar #legenda .pointer:before {
	width: 3.6vw;
	top: calc( 2.5vh - 3.5px );
	background-color: #d3d2ce;
}


@media (max-height: 720px){
	#sidebar #legenda .pointer {
		height: 40px;
	}

	#sidebar #legenda .pointer:after {
		border-width: 20px;
		margin-top: -20px;
	}
	#sidebar #legenda .pointer:before {
		width: 47px;
		top:16.5px;
	}

}

@media (max-width: 1100px) {
	#sidebar #legenda .pointer {
		left: 45px;
	}

}

#sidebar #menu input {
	display: none;
}


#sidebar #menu label{
	cursor: pointer;
	list-style: none;
	width: 100%;
	display: inline-block;
	height: 33px;
	background-color: #d6d6d6;
	color: inherit;
	background-color: rgba(214,214,214,0.3);
	margin-bottom: 3px;
	position: relative;
}
#sidebar #menu label:hover {
	transition: all 1s ease;
	background-color: rgba(214,214,214,0.6);
}

#sidebar #menu .txt {
	display: inline-block;
	line-height: 33px;
	float: left;
}

#sidebar #menu .checkbox {
	float: left;
	height: 33px;
	width: 33px;
	background-color: #ccc;
	background-color: rgba(137,135,123,0.3);
	/*background-image: url("../images/checkbox.svg");*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	cursor: pointer;	
	margin-right: 15px;
}
#sidebar #menu .active .checkbox{
	background-image: url("../images/checkbox.svg");
}



#sidebar #menu label .i {
	height: 33px;
	width: 33px;
	float: right;
	background-image: url("../images/gemiddeld-ink_score.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	cursor: pointer;
	line-height: 33px;
	text-align: center;
}

#sidebar #menu .none .i {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

}
#sidebar #menu label .txt {
	position: absolute;
	top: 0px;
	left: 43px;
	z-index: 2;
}

#sidebar #menu label .p {
	transition: all 1s ease;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 33px;
	height: 33px;
	width: 0%;
	background-color: red;
}

#sidebar #menu .none .p {
	background-color: #ececea !important;
}
#sidebar #menu .none .i {
	background-color: #ececea !important;
	text-indent: -9999px;
}

#sidebar .readmore,
#sidebar .resetAll,
#sidebar .help {
	text-align: left;
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	cursor: pointer;
	width: 35px;
	height: 25px;
	background-size: contain;
	background-image: url("../images/question-neg.svg");
	line-height: 25px;
	padding-left: 30px;
	margin-top: 10px;
	opacity: 0.9;
}

#sidebar .readmore:hover,
#sidebar .resetAll:hover,
#sidebar .help:hover {
	transition: all 1s ease;
	opacity: 0.6;
}


#sidebar .readmore {
	width: 67px;
}

#sidebar .resetAll {
	width: 70px;
	background-image: url("../images/close-neg.svg");
}
/*.leaflet-popup-content-wrapper,
leaflet-popup-content {
	font-family: 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
	pointer-events: none;
}
.leaflet-popup-close-button {
	display: none;
}*/


/*.leaflet-control {
	z-index: -1 !important;
}*/



.leaflet-bottom {
	z-index: 1 !important;
}

.leaflet-bottom a {
	display: none;
}
.leaflet-bottom .sourcelink {
	display: inline;
	color: black;
}







#lightbox {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
	display: none;
}

#lightbox .rotating{
	position:absolute; 
	top:48%; 
	left:80%; 	
    filter: invert(100%);
	-webkit-filter: invert(100%);
}

#lightbox .rotating p {
	float: right;
	height: 100px;
	padding-top: 30px;
	color: black; /* inverted color */
}

#lightbox .close {
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url("../images/close.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	text-align: right;
}

#lightbox .container {
	position: relative;
	background-color: white;
	width: 80vw;
	height: 70vh;
	margin-top: 10vh;
	padding: 40px;
	padding-top: 6vh;
	padding-bottom: 2.5vh;
	padding-left: 2.5vw;
	padding-right: 2.5vw;

	margin-left: auto;
	margin-right: auto;
}

#lightbox .container .left {
	width: 38vw;
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	cursor: default;
}
#lightbox .container .left p{
	margin-top: 20px;
}

#lightbox .container .right {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 70vh;
	width: 38vw;
	float: right;
	line-height: 1.5;
	cursor: default;
}
#lightbox .container .right p:last-child{
	margin-bottom: 20px;
}

#lightbox .container .subject {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	height: 33px;
	display: inline-block;
	background-color: rgba(214,214,214,0.3);
}

#lightbox .container .subject img{
	height: 33px;
	width: 55px;
	float: left;
	display: inline-block;
}
@media (max-width: 670px){
	#lightbox .container .subject img{
		display: none;
	}
}

#lightbox .container .subject span{
	display: inline-block;
	float: left;
	height: 33px;
	line-height: 33px;
	padding-left: 15px;
}
@media (max-width: 670px){
	#lightbox .container .subject span{
		padding-left: 0px;
	}
}

#lightbox .container .subject .grade {
	display: inline-block;
	float: right;
	padding-right: 10px;
	padding-top: 2px;
	background-color: rgba(214,214,214,0.6);
	height: 30px;
}


#lightbox .container img {
	max-width: 100%;
}
#lightbox .container .countries {
	height: 40vh;
	width: 100%;
}

#introdata {
	display: none;
	position: absolute;
	top: 15vh;
	left: 29vw;
	background-color: rgba(214,214,214,0.6);
	padding: 10px;
	padding-top: 0px;
	max-width: 300px;
}

#introdata h2{
	padding-top: 20px;
}
#introdata .container h2:first-child {
	padding-top: 10px;
}


@media (max-width: 1325px){
	#introdata {
		left: 400px;
	}
}
